<div class="container">
    <div class="gyms-items">
        <% @gyms.each do |gym|%>
            <div class="gym-item">
                <%= gym.name %>
                <%= gym.content%>
            </div>
        <% end %>
    </div>
</div>